<html>
    <head>
        <title>Rating</title>
    </head>
    <style>
        .code{
            width: 600px;
            height: 150px;
            border-color: black;
            border-width: 2px;
            border-radius: 20px;
            margin-top: 20%;
        }
    </style>
    <body>
        <center>
            <div class="code">
                <form method="POST">
                    <h2>Enter the Code:</h2>
                    <input type="number" required placeholder="Enter the code" name="code">
                    <br><br>
                    <button type="submit">Check</button>
                </form>
            </div>
        </center>
        <div class="abc"></div>
    </body>
</html>