<html>
    <head>
        <title>Your Code is...</title>
    </head>
    <style>
        .imp{
            width: 450px;
            height: 250px;
            background-color: transparent;
            border-style: dashed;
            border-radius: 20px;
            margin-top: 30px;
        }
    </style>
    <body>
        <center>
            <h2 style="margin-top: 50px;">Your Images are successfully Uploaded for rating.....</h2>
            <div class="imp">
                <div>
                    <h2 style="color: red;">IMPORTANT</h2>
                <h3>Please Note this code and circulate in your group for rating</h3>
                <h2>Code:</h2>
                <h1 style="color: darkblue;">{{code}}</h1>
                </div>
            </div>
            <a href="/rate"><button>Take me to the rating page</button></a>
        </center>
    </body>
</html>